body {
  background-color: #0a192f; /* Dark blue background */
  color: white; /* Default text color */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Add padding to center content vertically */
}

.image-and-content-container {
  display: flex;
}

.image-container {
  margin-top: -20px;
  flex: 0 0 auto;
  margin-right: 20px; /* Adjust spacing between image and content */
}

.content-container {
  flex: 1;
}

.sky-color {
  color: #87ceeb; /* Sky blue color */
}

.white-color {
  color: white; /* White color */
}

.orange-button {
  background-color: #a25826;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Make the button take the whole width */
  margin-top: 20px; /* Add margin to separate from other content */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
