/* Review.css */

/* Container for all reviews */
.reviews-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  border-bottom: 2px solid #ccc;
  background-color:#050521;
}

/* Individual review card */
.review {
  flex: 1;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.review:hover {
  transform: translateY(-12px);
}

/* Star ratings */
.stars {
  font-size: 24px;
  color: gold;
}

/* Review message */
.message {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
  line-height: 1.6;
}

/* Reviewer name */
.name {
  font-weight: bold;
  color: #111;
  margin-top: 10px;
  text-align: right;
}

/* Reviewer profession */
.profession {
  color: #666;
  font-size: 14px;
  font-style: italic;
  text-align: right;
}
