/* Services.css */

.services-container {
  display: flex;
  background-color: #050521;
  color: white;
}

.left-section {
  flex: 1;
  padding: 20px;
}


/* Services.css */
.right-section {
  flex: 1;
  padding: 20px; /* You can reduce the padding */
  max-width: 500px; /* Add max-width to limit the width */
  margin-right: 20px;
}


h1 {
  font-size: 24px;
  margin-top: 0;
}

.animated-word {
  color: yellow;
}

.message-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line to vertically center items */
  margin-top: 20px;
}

.message-box {
  margin-right: 20px; /* Optional: Add margin to separate the message boxes */
  text-align: center; /* Optional: Center-align text within each message box */
}

/* ... Your existing styles ... */

.book-free-call-form {
  border: 2px solid white;
  padding: 20px;
  background-color: white;
  color: #000;
  border-radius: 10px;

  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Updated to make labels and inputs stack vertically */
}

label {
  margin-bottom: 5px;
  color: #000;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  background-color: orangered;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #01241f;
}


.card-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px; /* Add margin-bottom to adjust the gap */
  margin-top: 5px;
}

.card-text {
  font-size: 15px;
  margin-top: 0; /* Remove the default top margin */
}

.right-section {
  width: 100%; /* Adjust the width as per your requirement */
}
